.container {
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 80vw;

}

@media (min-width: 900px) {
    .container {
    top: 300px;
    width: 600px;


    }
  }