.container {
  width: 100%;
  text-align: center; 
}

.menu {
  display: inline-grid;
  max-width: 900px;
  width: 100%;
}

.button {
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: var(--text);
  box-shadow: 4px 8px var(--player2), 8px 16px var(--player1);
  font-size: 3vmin;
  border: 0;
  text-align: center;
  color: var(--background);
  text-decoration: none;
  transition: background-color 250ms ease-in, color 250ms ease-in;
}