.container {
  width: 100%;
  text-align: center;
}

.page {
  display: inline-flex;
  flex-direction: row;
  grid-template-columns: 20vw auto 20vw;
}

@media (max-width: 1000px) {
  /* mobile / tablet */

  .page {
    display: inline-flex;
    flex-direction: column;
    grid-template-columns: auto;
  }
}

.menu {
  display: inline-grid;
  max-width: 900px;
  width: 100%;
}

.button {
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: var(--text);
  box-shadow: 4px 8px var(--player2), 8px 16px var(--player1);
  font-size: 3vmin;
  border: 0;
  text-align: center;
  color: var(--background);
  text-decoration: none;
  transition: background-color 250ms ease-in, color 250ms ease-in;
}

/* .button {
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: var(--background);
  box-shadow: 4px 8px var(--player2), 8px 16px var(--player1);
  font-size: 3vmin;
  border: 5px solid var(--text);
  text-align: center;
  color: var(--text);
  text-decoration: none;
  transition: background-color 250ms ease-in, color 250ms ease-in;
} */
