body {
  margin: 0px;
}

.app {

  --player1: #F45B69;
  --player2: #E4B363;
  --viewer: #C1DBE3;

  /* display: grid; */
  min-height: 100vh;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
  color: var(--text);

  justify-content: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 15vmin;
  color: var(--text);
  text-shadow: 0.5vmin 1vmin var(--player2), 1vmin 2vmin var(--player1);
  margin: 10px;
  margin-top: 0px;
  text-align: center;
}

h2 {
  color: var(--text);
  text-shadow: 0.25vmin 0.5vmin var(--player2), 0.5vmin 1vmin var(--player1);
  font-size: 5vmin;
  margin: 15px;
  margin-top: 0px;
  text-align: center;
}

h3 {
  margin: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

p {
  margin: 10px;
  text-align: center;
}

@media (max-width: 600px) {

  /* mobile */

  h2 {
    font-size: 7vmin;
    margin: 0px;
  }
  
}