.container {
    display: inline-grid;

    grid-template-columns: repeat(7, 10vmin);
    grid-gap: 2vmin;

}

.coin {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    border: 2px dotted var(--white);
}

.red {
    background-color: var(--red);
    border-style: solid;
}

.yellow {
    background-color: var(--yellow);
    border-style: solid;
}