.messages {
  padding: 10px;
  width: 470px;
  height: 500px;
  overflow: scroll;
}

.player1 {
  border: 5px solid var(--player1);
}

.player2 {
  border: 5px solid var(--player2);
}

.viewer {
  border: 5px solid var(--viewer);
}

.message {
  margin: 0px;
  padding: 5px;
  text-align: left;
}

.message_container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 810px;
}

.grid { 
  display: inline-grid;
  grid-template-columns: 350px 150px;
  width: 100%;
}

@media (max-width: 1950px) {
  .container { 
    grid-template-columns: inherit; 
    grid-template-rows: auto auto auto; 
  }

  .grid { 
    grid-template-columns: auto 150px;
  }

  .messages {
    width: 97%;
  }
  
}

@media (max-width: 900px) {

  .messages {
    width: 92vw;
  }
  
}